n8n/n8n-reactivacion-utility.json
{
  "name": "DOOH Reactivacion - Plantilla UTILITY con Control de Errores [PROD]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "cron-24h",
      "name": "Cada 24 horas",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1vrWnwJtJKi0HfLxi4LNXxAYf0ggt1gsVAFzE8cnJo4I"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Leads"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "estado",
              "lookupValue": "chat_frio"
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-frios",
      "name": "Leer leads con chat frio",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [420, 300],
      "notes": "Lee contactos que iniciaron chat pero se enfriaron >24h."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/{{$env.META_PHONE_NUMBER_ID || 'REEMPLAZA_PHONE_NUMBER_ID'}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.whatsapp_verificado || $json.telefono }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"seguimiento_brief_dooh\",\n    \"language\": { \"code\": \"es\" },\n    \"components\": [{\n      \"type\": \"body\",\n      \"parameters\": [\n        { \"type\": \"text\", \"text\": \"{{ $json.nombre }}\" },\n        { \"type\": \"text\", \"text\": \"{{ $json.empresa }}\" }\n      ]\n    }]\n  }\n}",
        "options": {}
      },
      "id": "wa-utility",
      "name": "Enviar plantilla UTILITY",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300],
      "onError": "continueRegularOutput",
      "notes": "Llama a la API de Meta. Si falla por error 131049, continúa el flujo para marcar reintento."
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.error ? $json.error.code : 0 }}",
              "operation": "equal",
              "value2": 131049
            }
          ]
        }
      },
      "id": "if-frequency-cap",
      "name": "Tiene Frequency Cap?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1vrWnwJtJKi0HfLxi4LNXxAYf0ggt1gsVAFzE8cnJo4I"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "kommo_lead_id"
          ],
          "value": {
            "kommo_lead_id": "={{ $('Leer leads con chat frio').item.json.kommo_lead_id }}",
            "estado": "reintentar_manana"
          }
        },
        "options": {}
      },
      "id": "sheets-reintentar",
      "name": "Marcar Reintentar Mañana",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1120, 200],
      "notes": "Evita sobrecargar la API de Meta si se alcanzó el límite diario."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1vrWnwJtJKi0HfLxi4LNXxAYf0ggt1gsVAFzE8cnJo4I"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "kommo_lead_id"
          ],
          "value": {
            "kommo_lead_id": "={{ $('Leer leads con chat frio').item.json.kommo_lead_id }}",
            "estado": "reactivado_utility"
          }
        },
        "options": {}
      },
      "id": "sheets-update",
      "name": "Marcar como reactivado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Cada 24 horas": {
      "main": [
        [
          {
            "node": "Leer leads con chat frio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer leads con chat frio": {
      "main": [
        [
          {
            "node": "Enviar plantilla UTILITY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar plantilla UTILITY": {
      "main": [
        [
          {
            "node": "Tiene Frequency Cap?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiene Frequency Cap?": {
      "main": [
        [
          {
            "node": "Marcar Reintentar Mañana",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar como reactivado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
