escenario-1-sin-api/n8n-flujo-leads.json
{
  "name": "DOOH Leads - Escenario 1 (sin API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-dooh",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-lead",
      "name": "Webhook Lead DOOH",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "list", "value": "REEMPLAZA_ID_DE_TU_GOOGLE_SHEET" },
        "sheetName": { "__rl": true, "mode": "list", "value": "Leads" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.body.timestamp }}",
            "screen_id": "={{ $json.body.screen_id }}",
            "nombre": "={{ $json.body.nombre }}",
            "empresa": "={{ $json.body.empresa }}",
            "email": "={{ $json.body.email }}",
            "Consentimiento": "={{ $json.body.consentimiento == true || $json.body.consentimiento === 'true' ? 'Sí' : 'No' }}",
            "estado": "={{ $json.body.consentimiento == true || $json.body.consentimiento === 'true' ? 'Clasificado' : 'esperando_chat' }}"
          }
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Registrar en Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook Lead DOOH').item.json.body.email }}",
              "operation": "isNotEmpty"
            }
          ],
          "boolean": [
            {
              "value1": "={{ $('Webhook Lead DOOH').item.json.body.consentimiento == true || $('Webhook Lead DOOH').item.json.body.consentimiento === 'true' }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-email",
      "name": "Tiene email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BRIEF_PDF_URL || 'https://leads.centauroads.com/brief-centauro.pdf' }}",
        "responseFormat": "file",
        "options": {
          "responsePropertyName": "brief_pdf"
        }
      },
      "id": "descargar-pdf",
      "name": "Descargar Brief PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.RESEND_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"from\":\"Centauro Ads <{{$env.RESEND_FROM_EMAIL || 'info@centauroads.com'}}>\",\"to\":[\"{{ $('Webhook Lead DOOH').item.json.body.email }}\"],\"subject\":\"Brief de pantallas LED y TOTEMs - Centauro Ads\",\"html\":\"Hola {{ $('Webhook Lead DOOH').item.json.body.nombre }},<br><br>Gracias por tu interés en nuestras pantallas publicitarias DOOH.<br><br>Te adjuntamos a este correo el brief interactivo en formato PDF con toda la información técnica, ubicaciones y tarifas de nuestras pantallas y tótems.<br><br>También puedes verlo en línea aquí: <strong><a href=\\\"https://links.centauroads.com/oferta-dooh\\\">Ver Brief en Canva</a></strong><br><br>Un asesor comercial te atenderá en breve por WhatsApp: <a href=\\\"https://wa.me/584242644335\\\">0424-2644335</a>.<br><br>Atentamente,<br>El equipo de Centauro Ads\",\"attachments\":[{\"filename\":\"Brief_Centauro_Ads.pdf\",\"content\":\"{{ $binary.brief_pdf.data }}\"}]}",
        "options": {}
      },
      "id": "resend-brief",
      "name": "Enviar brief por Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 200],
      "notes": "Usa la API de Resend para enviar correos transaccionales con el PDF adjunto."
    }
  ],
  "connections": {
    "Webhook Lead DOOH": { "main": [[{ "node": "Registrar en Google Sheets", "type": "main", "index": 0 }]] },
    "Registrar en Google Sheets": { "main": [[{ "node": "Tiene email?", "type": "main", "index": 0 }]] },
    "Tiene email?": { "main": [[{ "node": "Descargar Brief PDF", "type": "main", "index": 0 }], []] },
    "Descargar Brief PDF": { "main": [[{ "node": "Enviar brief por Resend", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
